apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patchesStrategicMerge:
  - deployment-patch.yaml

images:
  - name: your-registry/mmitm-mobile
    newName: us-west1-docker.pkg.dev/edgeshop-2026/edge-shop/mmitm-mobile
    # newTag: e836082
    newTag: e836082